
/* Defaults */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'avenir next', helvetica, arial, sans-serif;
}

p {
  color: #252525;
  line-height: 1.5em;
  font-size: 1.2em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h1,
h2,
h3,
nav {
  font-family: 'avenir next', helvetica, arial, sans-serif;
}


img {
  max-width: 100%;
  height: auto;
  padding: 15px;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  margin: 0 4em;
  padding: 20px;
  width: calc(100vw - 8em);
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;
  transition: all 0.5s ease-in;
}



header.active {
  transform: translateY(0em);
}


header .logo {
  flex-grow: 1;
  padding-top: 0.25em;
}
header .logo img {
  width: 8em;
}
header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: .6em 1.5em 0 0;
}

.my-name {
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: Oswald,arial,sans-serif;
  font-weight: bold;
}

.nav-item a {
  font-size: 1.3em;
  color: #fff;
  /*text-decoration: none;*/
  padding: 5px;
  border-radius: 5px;
  transition: all 0.10s ease-in;
}
.nav-item a:hover {
  color: #202b47;
  background-color: #fff;
}


.flex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}

section {
  box-sizing: border-box;
  position: relative;

}
section h2 {
  text-align: center;
  position: relative;
  margin: 80px 0 40px 0;
}
section h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

#about {
  background-color: #f1f1f1;
  padding: 20px 20px 0 20px;
}
#about p {
  flex: 5.5;
}
#about #my-pic {
  flex: 2;
  align-self: center;
  padding: 0 0 0 15px
}

#about img {
  display: block;
  width: 100%;
  height: auto;
}

#projects {
  height: 100%;
  color: #252525;
}

 .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
 .project-pic {
  flex: 50%;
  
}

#projects .project-pic:hover {
  
  color: #fff;
  background-color: #66CCFF;
}

@media (min-width: 600px) {
  #projects .project-pic {
    flex: 0 0 50%;
  }
}
@media (min-width: 960px) {
  #projects .project-pic {
    flex: 0 0 33%;
  }
}

#projects .project-pic .headshot {
  height: 5em;
  width: 5em;
  margin-left: calc(50% - 2.5em);
  padding-top: 10px;
}
#projects .project-pic .project-name {
  text-align: center;
  font-size: 2em;
}
#projects .project-pic .project-info {
  width: calc(100% - 5em);
  margin-left: 2.5em;
  text-align: center;
  font-style: italic;
}
#contact {
  display:flex;
  flex-direction: column;
}


.project-pic a {
  color: black;
}

.project-pic a:visited {
  color: black;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 10px;
  
}



.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 6em;
  background-color: #252525;
  
}

.fa {
 padding: 0px 20px;
}

